---
import VideoProject from "./VideoProject.svelte";
import Project from "./Project.astro";
---

<div class="flex h-fit flex-col items-center pt-20 [perspective:1000px]">
	<div class="w-full max-w-[1440px]">
	</div>
</div>
