---
import Card from "../global/Card.astro";
import Line from "../global/NetworkLine.astro";
import Skill from "./Skill.astro";
---

<div id="Experience" class="h-fit">
	<div class="flex flex-col items-center">
		<div class="w-[90%] md:w-[600px] lg:w-1/2">
			<Line height="50px" />
			<Skill
				title="Software Engineering"
				primaryColor="#9D76C1"
				tags={[
					{ text: "Python", bgColor: "var(--color-python)" },
					{
						text: "Typescript",
						bgColor: "var(--color-typescript)",
					},
					{
						text: "Node.js",
						bgColor: "#68a063",
					},
					{
						text: "REST APIs",
						bgColor: "#4a90e2",
					},
					{
						text: "Git",
						bgColor: "#f1502f",
					},
					{
						text: "Bash",
						bgColor: "#4eaa25",
					},
				]}
			/>
			<Line height="50px" />
			<Skill
				primaryColor="#9D76C1"
				title="Cloud & Tools"
				tags={[
					{
						text: "AWS",
						bgColor: "#ff9900",
						textColor: "black",
					},
					{
						text: "Google Colab",
						bgColor: "#f9ab00",
						textColor: "black",
					},
					{
						text: "Jupyter Notebook",
						bgColor: "#f37726",
					},
					{
						text: "VS Code",
						bgColor: "#0078d4",
					},
					{
						text: "Linux",
						bgColor: "#fcc624",
						textColor: "black",
					},
				]}
			/>
		</div>
	</div>
</div>
