<div class="flex flex-row items-center justify-center gap-2">
	<a href="https://github.com/Prudhviteja9" target="_blank">
		<div
			class="flex h-7 w-7 items-center justify-center rounded-full bg-white transition-[filter] duration-150 hover:invert"
		>
			<img
				src="/images/socials/github.svg"
				alt="github"
				class="aspect-square max-w-full"
				width="20"
			/>
		</div>
	</a>
	<a href="https://www.linkedin.com/in/prudhvi-teja-yedla-272163162/" target="_blank">
		<div
			class="flex h-7 w-7 items-center justify-center rounded-full bg-white transition-[filter] duration-150 hover:invert"
		>
			<img
				src="/images/socials/linkedin.svg"
				alt="linkedin"
				class="aspect-square h-5 w-5"
			/>
		</div>
	</a>
</div>
