---
import Card from "../global/Card.astro";
import Line from "../global/NetworkLine.astro";
---

<div id="Experience" class="h-fit">
	<h1 class="text-center text-5xl">Experience</h1>
	<div class="flex flex-col items-center pt-10">
		<div class="w-[90%] md:w-[600px] lg:w-1/2">
			<Card primaryColor="#F6DFD8" className="animate-fadeIn">
				<div class="px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">Corporate Analyst Intern</h2>
						<h3 class="font-bold">@ Confidential E-commerce/Retail Startup</h3>
						<h3>Jun 2024 - Present</h3>
					</div>
					<hr class="mb-3 w-full" />
					<p class="mb-3">
						Analyze sales, expense, and customer data to find cost-saving and retention opportunities. Build Power BI + SQL dashboards for revenue, margin, and cash flow. Automate weekly reporting with Python + SQL.
					</p>
					<h3 class="mb-1 text-lg font-bold">Relevant skills:</h3>
					<div
						class="flex flex-col items-start justify-start gap-0 md:flex-row md:gap-10"
					>
						<ul class="list-inside list-disc">
							<li>Power BI</li>
							<li>SQL</li>
							<li>Python</li>
						</ul>
						<ul class="list-inside list-disc">
							<li>Data Analysis</li>
							<li>Business Intelligence</li>
							<li>Reporting Automation</li>
						</ul>
					</div>
				</div>
			</Card>
			<Line height="50px" />
			<Card primaryColor="#F6DFD8" className="view-fadeUp">
				<div class="px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">IT Analyst</h2>
						<h3 class="font-bold">@ Cura GRC Pvt Ltd</h3>
						<h3>Aug 2021 - May 2023</h3>
					</div>
					<hr class="mb-3 w-full" />
					<p class="mb-3">
						Support IT/data systems for enterprise analytics, ensure high uptime. Improve data pipelines and BI workflows, integrate BI tools. Work with stakeholders on reporting and compliance needs.
					</p>
					<h3 class="mb-1 text-lg font-bold">Relevant skills:</h3>
					<div
						class="flex flex-col items-start justify-start gap-0 md:flex-row md:gap-10"
					>
						<ul class="list-inside list-disc">
							<li>Data Pipelines</li>
							<li>BI Tools Integration</li>
							<li>IT Support</li>
						</ul>
						<ul class="list-inside list-disc">
							<li>Systems Administration</li>
							<li>Stakeholder Management</li>
							<li>Compliance</li>
						</ul>
					</div>
				</div>
			</Card>
		</div>
	</div>
</div>
