---
import Card from "../global/Card.astro";
import Line from "../global/NetworkLine.astro";
---

<div id="Experience" class="h-fit">
	<div class="flex flex-col items-center">
		<div class="w-[90%] md:w-[600px] lg:w-1/2">
			<Line height="50px" />
			<Card primaryColor="#FFAC21" className="view-fadeUp">
				<div class="px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">
							M.S. Data Science & Analytics
						</h2>
						<h3 class="font-bold">
							@ Florida Atlantic University
						</h3>
						<h3>Aug 2023 - May 2025</h3>
					</div>
					<hr class="mb-3 w-full" />
					<h3 class="mb-1 text-lg font-bold">Focus Areas</h3>
					<ul class="list-inside list-disc">
						<li>Machine Learning</li>
						<li>Computer Vision</li>
						<li>Data Analysis & Analytics</li>
						<li>Statistical Modeling</li>
					</ul>
				</div>
			</Card>

			<Line height="50px" />
			<Card primaryColor="#FFAC21" className="view-fadeUp">
				<div class="px-4 py-4 md:px-8 md:py-8">
					<div class="mb-3 flex w-full flex-col justify-start gap-1">
						<h2 class="text-xl font-bold">
							B.Tech Electronics & Communication Engineering
						</h2>
						<h3 class="font-bold">
							@ GITAM University (India)
						</h3>
					</div>
					<hr class="mb-3 w-full" />
					<h3 class="mb-1 text-lg font-bold">Foundation</h3>
					<ul class="list-inside list-disc">
						<li>Electronics & Signal Processing</li>
						<li>Communications Systems</li>
						<li>Programming Fundamentals</li>
					</ul>
				</div>
			</Card>
		</div>
	</div>
</div>
